body{
    background-color: khaki;
    font-size: large;
    text-align: center;
}
h1 {
    color: indigo;
}
.a {
    text-align: center;
    font-family: monospace, Courier;
}
video {
    width: 70%;
    height: auto;
}
button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    background-color: whitesmoke; 
  color: cyan; 
  border: 2px solid cyan;
}
button:hover {
    background-color: cyan; 
  color: black; 
  border: 2px solid black;
}
.download {
    width: 40%;
    text-align: center;  
}
.centered {
    text-align: center;
}
#big_table {
    width: 100%;
    text-align: center;
}
#pre_tabulku {
    font-size: 150%;
}
/*nezobrazovane veci*/
#download_table1 {
    width:30%;
    height:300px;
    display:none;
    position:fixed;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
}
/*zobrazovane veci*/
#download_table2 {
    background-color: cyan;
    width:30%;
    border: 2px solid black;
    border-collapse: collapse;
    display:table;
    position:fixed;
    left: 35%;
    top: 250px;
}
.download_bunky
{
    border: 2px solid whitesmoke;
}
.download_bunky_header
{
    border: 1px solid cyan;
}
/* color of links */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
/* end of colored links */

#horna_tabulka, .buttons {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 2000% 2000%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }